<div class="container">
  <h1 class="text-center">NOBEL PRIZE WINNERS</h1>
  <div class="col-md-12 d-flex justify-content-around">
    <a routerLink="/names"><button class="btn">Search By Name</button></a>
    <a routerLink="/years"><button class="btn ">Search By Year</button></a>
    <a routerLink="/yearCategory"
      ><button class="btn">Search By Year and Category</button></a
    >
    <a routerLink="/all"
      ><button class="btn">
        List All Winners
      </button></a
    >
  </div>
</div>
